.wrapper {
    padding: 20px !important;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: solid 1px grey;
    margin: 50px;
    padding: 10px;
    box-shadow: 10px 10px 8px #888888;
}

.download {
    text-decoration: none;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 20px;
    color: rgb(94, 92, 92);
}

.download:hover {
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 5px
}

i {
    font-size: 50px;
    margin: 10px;
    color: rgb(236, 105, 105);
}

i:hover {
    color: rgb(224, 79, 79);
}

.wrapper h2 {
    text-align: center;
    background-color: white;
    font-size: 40px;
    color: rgb(236, 105, 105);
}

footer {
    text-align: center;
    margin: 50px;
    background-color: black;
    color: white;
    font-size: 20px;
}

input {
    margin: 0px 0px 10px 0px;
    height: 25px;
    border-radius: 2px;
    padding: 5px;
    border: grey 1px solid
}

textarea {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
}

button {
    margin: 10px 0px 10px 0px;
    background-color: rgb(236, 105, 105);
    border: none;
    color: white;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    font-family: sans-serif;
}

button:hover {
    cursor: pointer;
    background-color: rgb(224, 79, 79);
}

@media only screen and (max-width:600px) {
    i {
        font-size: 20px;
    }

    .download {
        font-size: 12px;
        margin: 0px
    }

    .contactHead {
        font-size: 25px !important;
    }

    .contact {
        padding: 0px;
        margin: 0px;
        width: 100%;
    }

    footer {
        margin: 50px 0px 50px 0px;
    }

    #man img {
        width: 300px;
    }
}