.projects {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    margin: auto;
    padding: 20px !important;
}

.box {
    height: 300px;
    width: 300px;
    background-color: white;
    border: 1px solid rgb(224, 221, 221);
    padding: 10px;
    margin-top: 50px;
    box-shadow: 10px 10px 8px #888888;
}

.background {
    background-color: rgb(240, 77, 77);
    padding: 12px;
}

.img {
    text-align: center;

}

.img:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: cell;

}

.Pro h2,
.box h3 {
    text-align: center;
    margin: 0;
}

.Pro h2 {
    font-size: 50px;
    color: rgb(236, 105, 105);
    margin-top: 1em;
}

.box h3 {
    color: rgb(77, 72, 72);
    text-decoration: none;
}

@media only screen and (max-width:600px) {
    .Pro h2 {
        font-size: 25px;
    }
}