@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Titillium+Web:wght@200;600;900&display=swap');
.title{
 display: flex;
 justify-content: center;
}
  #btn{
  margin-top:600px ;
  position: absolute;
      letter-spacing: 5px;
      font-family: sans-serif;
      font-weight: bold;
      /* color:blueviolet; */
     font-size: 30px;
     border: none;
     color:black;
     /* background-color: tomato; */
}
button{
  color:black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  padding: 5px;
  background-color: transparent;
  border: 0.1px grey solid;
  background-color: rgb(247, 132, 112);
}
button i{
  color: black;
  font-size: 30px;
  margin: 0px;
 
}
button:hover{
  cursor: pointer;
  /* background-color: rgb(241, 76, 47); */
  background-color: rgb(245, 60, 28);
}


#tsparticles{
    z-index: -1;
    width:100%;
  }
  h1{
      margin-top: 300px; 
      font-size: 100px;
      position:absolute;
      font-family: 'Bonheur Royale', cursive;
font-family: 'Titillium Web', sans-serif;
    letter-spacing: 5px;
    color:teal;

  }
  /* DEMO-SPECIFIC STYLES */
  .typewriter{
    color: rgb(59, 56, 56);
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    /* margin: 0 auto; Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(20, end),
      blink-caret  .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 30% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
  
  p{
      margin-top: 440px; 
      position:absolute;
      font-size: 30px; 
  }
 
  .cartoon{
       margin-top: 130px;
       position: absolute;
     clip-path: circle(90px);
  }
   @media  only screen and (max-width : 600px){
      
    h1{
      font-size: 40px;
      margin-top: 320px;
    }
    p{
      font-size: 15px;
      margin-top: 380px;
    }
    .main{
      width: 100%;
    }
    #tsparticles{
      width: 100%;
    }
    .cartoon{
    margin-top: 130px;
    }
    #btn{
      margin-top: 480px;
    }
  } 
 